.py-6 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ================================================ */
/* HEADER */
/* ================================================ */
.header-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header-section a {
    color: white;
    transition: all 0.3s;
}

.header-section a:hover {
    color: rgba(255, 255, 255, 0.552);
}

.header-section .nav-item {
    position: relative;
}

.header-section .nav-item:not(:last-child) {
    margin-right: 10px;
}

.header-section .nav-item::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: all 0.3s;
    background-color: #35a22c;
}

.header-section .nav-item:hover:after {
    width: 100%;
}

.header-section .nav-item:hover a {
    color: #35a22c;
}

.header-section .nav-item.active a {
    color: #35a22c;
}

.header-section .active.nav-item::after {
    width: 100%;
}

.header-section .navbar .navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-section .navbar .navbar-brand:hover {
    color: white;
}

.header-section .navbar i {
    font-size: 40px;
    color: #35a22c;
}

/* ================================================ */
/* CAROUSEL */
/* ================================================ */
.carousel-section .carousel-item img {
    height: 100vh;
}

.carousel-section .carousel-caption img {
    border-radius: 50%;
    --wh: 100px;
    width: var(--wh);
    height: var(--wh);
}

.carousel-section .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-section .carousel-caption h5 {
    animation-delay: 1s;
}

.carousel-section .carousel-caption p {
    animation-delay: 2s;
}

.carousel-section .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-section .carousel-indicators li {
    border-radius: 50%;
    --wh: 10px;
    width: var(--wh);
    height: var(--wh);
    transition: all.6s;
}

.carousel-section .carousel-indicators .active {
    background-color: #35a22c;
}

.carousel-section .carousel-indicators {
    bottom: 10%;
}

/* ================================================ */
/* PROJECT */
/* ================================================ */
.project-section .nav-pills .nav-link.active {
    background-color: #35a22c;
    color: white;
    border: 1px solid #35a22c;
}

.project-section .nav-pills .nav-link {
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
}

.project-section .project_tabs ul {
    gap: 10px;
}

.card {
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.card-body {
    border: 1px solid transparent;
    border-radius: 0 0 1rem 1rem;
    transition: all 0.5s;
}

.card:hover .card-body {
    border-color: #35a22c;
    border-top-color: transparent;
}

.card-text {
    transition: all 0.3s;
}

.card:hover .card-text {
    color: #35a22c;
}

/* ================================================ */
/* SERVICES */
/* ================================================ */
.services-section {
    background-image: url(../img/3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}

.services-section::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.426);
}

.services {
    position: relative;
}

.services_card {
    color: white;
    background-color: rgba(255, 255, 255, 0.112);
    padding-top: 1.25rem;
    border-radius: 20px;
    backdrop-filter: blur(2px);
}

.services_card i {
    font-size: 50px;
    color: #35a22c;
}
